*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 1px;
    scroll-behavior: smooth;
     --main-color:#727c89;
     --second-color:#f6f6f6;
     --black-color: #000;
     --white-color:#fff;
}

h1{
    font-size: 55px;
    font-weight: 100;
    margin: 10px 0;
}

h2{
    font-size: 45px;
    font-weight: 100;
 }

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.btn{
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}

.btn:focus{
    outline: none;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}




.header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/girl_woods.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid var(--white-color);
}

.main-nav ul{
    display: flex;
    align-items: center;
}

.main-nav ul li{
    margin: 0 12px;
}

.main-nav ul li a{
    color: var(--white-color);
    font-size: 15px;
    text-transform: uppercase;
}

.main-nav ul li a:hover{
    opacity: .7;
}

.main-container{
    height: 90%;
    position: relative;

}

.main-container > div{
    text-align: center;
    color: var(--white-color);
}

.main-container > div p{
    color: var(--second-color);
    font-size: 17px;
}

.main-container > div .main-btn{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    background-color: var(--main-color);
    padding: 7px 15px;
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 400ms;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
}

.main-container > div .main-btn i{
    color: var(--black-color);
}

.main-container > div .main-btn:hover{
    background: transparent;
    border: 1px solid var(--white-color);
}

.main-container > div .main-btn i:hover{
    color: var(--white-color);

}

.story{
    padding: 70px 0;
}

img{
    width: 100%;
}

.story .grid-2 > div{
   margin: 0 20px;
}

.story .grid-2 .s-content p{
   margin: 20px 0;
   font-size: 15px;
   color: var(--main-color);
}

.story .grid-2 .s-content p span{
   font-size: 22px;
}

.story .grid-2 .s-content button{
   font-size: 15px;
   background: var(--main-color);
   padding: 10px 30px;
}

.story .grid-2 .s-content button:hover{
    background: var(--black-color);
    border: 1px solid var(--black-color);
    
}

.story .grid-2 .s-content button a{
    color: var(--white-color);
    opacity: .8;
}


.main-work{
    background: url('/images/vintage_camera.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin: 70px 0;
}

.w-content{
    color: var(--white-color);
    text-align: center;
}

.w-content p{
    color: var(--second-color);
    margin-top: 15px;
}

.portfolio{
    padding: 70px 0;
    text-align: center;
}

.portfolio p{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    color: var(--main-color);
}

.portfolio .box{
    margin-right: 20px;
    text-align: center;
}

.portfolio .box p{
   font-size: 20px;
   margin-top: 13px;
   margin-bottom: 10px;
   font-weight: 300;
   color: var(--black-color);
   text-transform: capitalize;
}

.portfolio .box > div{
    overflow: hidden;
    cursor: pointer;

}

.portfolio .box img{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}

.portfolio .box img:hover{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.portfolio .grid-fix{
    margin-right: 0;
    width: 94.5%;
}


.main-test{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/sleepy_kid.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin: 70px 0;
    color: var(--white-color);
}

.main-test > div{
    text-align: center;
}

.client-testimonials-container  {
    overflow: hidden;
    color: var(--secondary-color);
    padding: 0 200px;
    text-align: center;
  }
  
  .client-testimonial-item {
    border-left: 5px solid var(--main-color);
    font-size: .95rem;
    margin: 2em 0;
    padding: 0 1em;
    color: var(--second-color);
  }
  
  .client-name {
    font-size: 1rem;
  }
  
  .client-testimonial-switch {
    background-color: var(--main-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: .6rem;
    margin: 0 .2rem;
    outline: none;
    width: .6rem;
  }
  
  .active-carousel-switch {
    transform: scale(1.5);
  }